# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*o
*so

# C extensions
*so
*.pyd

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments

.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# model cache
ollama_models/

# Local virtual environment created for Bytecrafter CLI
venv_bytecrafter/

# Local SQLite database used by the memory system
bytecrafter_memory.db 